html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general */
*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

:root {
  --white:#FFFFFF;
  --pale:#FBF2F2;
  --black:#000000;
  --red:#AA0601;
  --dred:#650300;
}

.fz-l {
  font-size: 64px;
}

.fz-ml {
  font-size: 48px;
}

.fz-m {
  font-size: 36px;
}

.fz-s {
  font-size: 24px;
}

.fz-ss {
  font-size: 20px;
}

.fz-xs {
  font-size: 14px;
}

.fwn {
  font-weight: normal;
}

.fwb {
  font-weight: bold;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-decoration: none;
}

nav {
  background-color: var(--red);
}

nav .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 12px;
  max-width: 1296px;
}

.logo img {
  width: 80px;
}

nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  width: 492px;
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 25px 12px;
  }
  .nav-bar .nav-list {
    max-width: 100%;
  }
}
@media (max-width: 375px) {
  nav .nav-bar {
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
  .logo img {
    padding: 12px;
  }
  .nav-bar .nav-list {
    flex-wrap: wrap;
  }
  .nav-bar .nav-list li {
    outline: 2px solid var(--white);
    width: 50%;
    text-align: center;
    padding: 12px;
  }
}
footer {
  color: var(--white);
  background-color: var(--red);
  padding-top: 48px;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

.contact {
  margin: 0 auto;
}

.contact-wrap {
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
}

footer .nav-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

footer .nav-contact {
  max-width: 464px;
}

footer .nav-contact p {
  font-size: 36px;
  font-family: "Noto Sans TC", sans-serif;
}

footer .nav-contact p span {
  font-size: 36px;
  vertical-align: middle;
  margin-right: 22px;
}

/* .social-media */
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 208px;
}

.social-media li {
  max-width: 48px;
}

/* hr */
hr {
  margin: 32px auto;
  max-width: 1296px;
}

/* .copyright */
.copyright {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policy {
  display: flex;
  gap: 48px;
}

@media (max-width: 768px) {
  footer {
    padding: 48px 24px 40px 24px;
  }
  footer .contact-wrap {
    max-width: 100%;
  }
  footer .contact-wrap .nav-contact {
    max-width: 100%;
  }
  footer .nav-contact p span {
    font-size: 30px;
  }
  .social-media li {
    max-width: 40px;
  }
  .policy {
    display: flex;
    gap: 24px;
  }
}
@media (max-width: 604px) {
  footer .contact-wrap .nav-contact {
    width: 100%;
  }
  footer .nav-contact p {
    font-size: 16px;
  }
  .policy {
    display: flex;
    gap: 8px;
  }
}
@media (max-width: 375px) {
  footer .nav-contact p {
    font-size: 16px;
  }
  footer .nav-contact p span {
    font-size: 18px;
    margin-right: 11px;
  }
  footer .nav-contact .nav-list {
    display: none;
  }
  .social-media li {
    max-width: 24px;
  }
  .policy, .copyright {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}
/* header */
header {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-position: center;
  background-size: cover;
}

.header-text {
  color: var(--dred);
  text-align: right;
  margin: 0 auto;
  padding: 296px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1296px;
}

.buy-btn {
  background-color: var(--red);
  padding: 6px 12px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.header-text a {
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 768px) {
  header {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    background-size: 100% 100%;
  }
}
@media (max-width: 375px) {
  header .header-text {
    padding: 144px 0;
  }
  header .header-text h1 {
    font-size: 16px;
  }
  header .header-text h2 {
    font-size: 24px;
  }
}
/* main */
/* .feature */
.feature {
  background-color: var(--pale);
  text-align: center;
  padding: 80px 12px;
}

.features {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1296px;
}

.feature-card li {
  text-align: center;
  width: 306px;
}

.feature-card img {
  width: 100px;
}

.feature h3, .feature-card h4 {
  color: var(--dred);
}

.feature-card p {
  text-align: left;
}

@media (max-width: 768px) {
  .features {
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .feature {
    padding: 40px 12px;
  }
  .feature h3 {
    font-size: 24px;
  }
  .feature .features {
    justify-content: center;
    gap: 24px;
  }
}
/* .classic-goods */
.classic-goods {
  margin: 0 auto;
  text-align: center;
  padding: 80px 12px;
}

.classic-goods h3 {
  color: var(--dred);
}

.design-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--red);
  font-style: italic;
  max-width: 1296px;
  margin: 0 auto;
  gap: 24px;
}

.design-card li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 984px) {
  .design-card {
    display: block;
    width: 50%;
  }
}
@media (max-width: 375px) {
  .classic-goods {
    padding: 40px 12px;
  }
  .classic-goods h3 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .classic-goods .design-card {
    gap: 24px;
  }
}
/* .design-goods */
.design-goods {
  margin: 0 auto;
  text-align: center;
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-position: center;
  background-size: cover;
}

.design-goods h3 {
  color: var(--white);
}

.design-series {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 12px;
  max-width: 1296px;
}

.design-img {
  max-width: 648px;
}

.design-name {
  color: var(--red);
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-name h4 {
  background-color: var(--white);
}

@media (max-width: 768px) {
  .design-name {
    display: block;
    margin: 0 auto;
  }
}
/* .recommendation */
.recommendation {
  margin: 0 auto;
  padding: 80px 12px;
}

.recommendation h3 {
  text-align: center;
  color: var(--dred);
}

.customer-recommendation {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 1296px;
  flex-wrap: wrap;
}

.recommend-card {
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #DEE2E6;
  width: 22%;
}

.feedback {
  margin: 16px;
}

@media (max-width: 768px) {
  .customer-recommendation {
    justify-content: center;
  }
  .recommend-card {
    width: 48%;
  }
}
@media (max-width: 624px) {
  .recommend-card {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .recommend-card {
    width: 100%;
  }
}
/* .contact-us */
.contact-us {
  background-color: var(--pale);
  padding: 80px 12px;
}

.form {
  max-width: 636px;
  margin: 0 auto;
}

.contact-us h3 {
  color: var(--dred);
  text-align: center;
}

label {
  display: inline-block;
}

input {
  background-color: transparent;
  border-color: var(--black);
  height: 36px;
  width: 100%;
  text-indent: 12px;
}

.suggest {
  padding-bottom: 106px;
  height: 136px;
}

.agreement {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 48px;
}

.sent-btn {
  text-decoration: none;
  max-width: 416px;
  padding: 16px 0px;
  background-color: var(--red);
  color: var(--white);
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contact-us {
    padding: 80px 96px;
  }
  .contact-us p {
    font-size: 16px;
  }
}
@media (max-width: 624px) {
  .contact-us {
    padding: 80px 24px;
  }
}
@media (max-width: 375px) {
  .contact-us {
    padding: 80px 12px;
  }
}/*# sourceMappingURL=all.css.map */