/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general */
*,*:before,*:after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
:root{
    --white:#FFFFFF;
    --pale:#FBF2F2;
    --black:#000000;
    --red:#AA0601;
    --dred:#650300;
}
.fz-l{
    font-size: 64px;
}
.fz-ml{
    font-size: 48px;
}
.fz-m{
    font-size: 36px;
}
.fz-s{
    font-size: 24px;
}
.fz-ss{
    font-size: 20px;
}
.fz-xs{
    font-size: 14px;
}
.fwn{
    font-weight: normal;
}
.fwb{
    font-weight: bold;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-72{
    margin-bottom: 72px;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-decoration: none;
}
/* nav */
nav{
    background-color: var(--red);
}
nav .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px 12px;
    max-width: 1296px;
}
.logo img{
    width:80px;
}
nav .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--white);
    width:492px;
}
@media(max-width:768px) {
    .nav-bar{
        padding: 25px 12px;
    }
    .nav-bar .nav-list{
        max-width: 100%;
    }
}
@media(max-width:375px) {
    .nav-bar{
        display: block;
        padding: 0;
    }
    .logo img{
        padding: 12px;
    }
    .nav-bar .nav-list{
        flex-wrap: wrap;
    }
    .nav-bar .nav-list li{
        outline:2px solid var(--white);
        width: 50%;
        text-align: center;
        padding: 12px;
    }
}
/* header */
header{
    
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true" );
     background-position: center;
    background-size: cover;
}
.header-text{
    color: var(--dred);
    text-align: right;
    height:787px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1296px;
}
.buy-btn{
    background-color: var(--red);
    padding:6px 12px;
    width:fit-content;
    margin-left:auto;
}
.header-text a{
    text-decoration: none;
    color: var(--white);
}
@media(max-width:768px) {
    
}
@media(max-width:375px) {
    
}
/* main */
/* .feature */
.feature{
    background-color: var(--pale);
    text-align: center;
    padding: 80px 0px;
}
.features{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1296px;
}
.feature-card li{
    text-align: center;
    width: 306px;
}
.feature-card img{
    width: 100px; 
}
.feature h3, .feature-card h4{
    color: var(--dred);
}
.feature-card p{
    text-align: left;
}
@media(max-width:768px) {
    
}
@media(max-width:375px) {
    
}
/* .classic-goods */
.classic-goods{
    margin: 0 auto;
    text-align: center;
    padding: 80px 0px;
    max-width: 1296px;
}
.classic-goods h3{
    color: var(--dred);
}
.design-card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
    font-style: italic;
    gap: 24px;
}
.design-card img{
    width: 416px;
}

@media(max-width:768px) {
    .design-card{
        display: block;
    }
}
@media(max-width:375px) {
    
}
/* .design-goods */
.design-goods{
    margin: 0 auto;
    text-align: center; 
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
    background-position: center;
    background-size: cover;
}
.design-goods h3{
    color: var(--white);
}
.design-series{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0px;
    max-width: 1296px;
}
.design-img{
    max-width: 648px;
}
.design-name{
    color: var(--red); 
    font-style: italic; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.design-name h4{
    background-color: var(--white); 
}
@media(max-width:768px) {
    .design-name{
        display: block;
        margin: 0 auto;
    }
}
@media(max-width:375px) {
    
}
/* .recommendation */
.recommendation{
    margin: 0 auto;
    padding: 80px 12px;
}
.recommendation h3{
    text-align: center;
    color: var(--dred);
}
.customer-recommendation{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1296px;
    flex-wrap: wrap;
}
.recommend-card{
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    width:22%;
}
.feedback{
    margin: 16px;
}
@media(max-width:768px) {
    .customer-recommendation{
        justify-content: center;
    }
    .recommend-card{
        width: 48%;
    }
}
@media(max-width:624px) {
    .recommend-card{
        width: 100%;
    }
}
@media(max-width:375px) {
    .recommend-card{
        width: 100%;
    }
}
/* .contact-us */
.contact-us{
    background-color: var(--pale);
    padding: 80px 0px;
}
.form{
    max-width: 636px;
    margin: 0 auto;
}
.contact-us h3{
    color: var(--dred);
    text-align: center;
}
label{
    display: inline-block;
}
input{
    background-color: transparent;
    border-color: var(--black);
    height: 36px;
    width:100%;
    text-indent: 12px;
}
.suggest{
    padding-bottom: 106px;
    height: 136px;
}
.agreement{
    height:fit-content;
    width:fit-content;
    margin-bottom: 48px;
}
.sent-btn{
    text-decoration: none;
    max-width:416px;
    padding: 16px 0px;
    background-color: var(--red);
    color: var(--white);
    display: block;
    text-align: center;
    margin: 0 auto;

}
/* footer */
footer{
    color: var(--white);
    background-color: var(--red);
    padding-top: 48px;
    padding-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;
}
footer a{
    text-decoration: none;
    color: var(--white);
}
.contact{
    margin: 0 auto;
}
.contact-wrap{
    max-width: 1296px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
}
footer .nav-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
footer .nav-contact{
    max-width:464px;
}
footer .nav-contact p{
    font-size: 36px;
    font-family: 'Noto Sans TC', sans-serif;
}
footer .nav-contact p span{
    font-size: 36px;
    vertical-align: middle;
    margin-right: 22px;
}
/* .social-media */
.social-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 208px;
}
.social-media li{
    max-width: 48px;
}
/* hr */
hr{
    margin: 32px auto;
    max-width: 1296px;
}
/* .copyright */
.copyright{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.policy {
    display: flex;
    gap: 48px;
}
@media(max-width:768px) {
    footer{
        padding: 48px 24px 40px 24px;  
    }
}
@media(max-width:375px) {
    footer .nav-contact p{
        font-size: 16px;
    }
    footer .nav-contact p span{
        font-size: 18px;
        margin-right: 11px;
    }
    footer .nav-contact .nav-list{
        display: none;
    }
    .policy, .copyright{
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
    
}