<nav>
    <div class="nav-bar">
    <div class="logo"><a href="index.html"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="icon"></a></div>
    <ul class="nav-list fz-ss">
        <li><a href="goods.html">系列鏡框</a></li>
        <li><a href="branch.html">門市據點</a></li>
        <li><a href="blog.html">部落格</a></li>
        <li><a href="faq.html">常見問題</a></li>
    </ul>
    </div>
</nav>