<div class="container">
    <ul class="navbar-nav d-flex aic">
        <li class="nav-item">
        <a class="link <%= page === 'optical' ? 'active' : '' %>" aria-current="page" href="optical.html"
            >OPTICAL</a
        >
        </li>
        <li class="nav-item">
        <a class="link <%= page === 'sunglasses' ? 'active' : '' %>" aria-current="page" href="sunglasses.html"
            >SUNGLASSES</a
        >
        </li>
        <li class="nav-item">
            <a class="link">FUNCTIONAL</a>
        </li>
    </ul>
</div>