/* header */
header{
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true" );
    background-position: center;
    background-size: cover;
}
.header-text{
    color: var(--dred);
    text-align: right;
    margin: 0 auto;
    padding: 296px 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1296px;
}
.buy-btn{
    background-color: var(--red);
    padding:6px 12px;
    width:fit-content;
    margin-left:auto;
}
.header-text a{
    text-decoration: none;
    color: var(--white);
}
@media(max-width:768px) {
    header{
        background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
        background-size: 100% 100%;
    }
}
@media(max-width:375px) {
    header .header-text{
        padding: 144px 0;
    }
    header .header-text h1{
        font-size: 16px;
    }
    header .header-text h2{
        font-size: 24px;
    }
    
}
/* main */
/* .feature */
.feature{
    background-color: var(--pale);
    text-align: center;
    padding: 80px 12px;
}
.features{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1296px;
}
.feature-card li{
    text-align: center;
    width: 306px;
}
.feature-card img{
    width: 100px; 
}
.feature h3, .feature-card h4{
    color: var(--dred);
}
.feature-card p{
    text-align: left;
}
@media(max-width:768px) {
    .features{
        justify-content: center;
    }
}
@media(max-width:375px) {
    .feature{
        padding: 40px 12px;
    }
    .feature h3{
        font-size: 24px;
    }
    .feature .features{
        justify-content: center;
        gap: 24px;
    }
}
/* .classic-goods */
.classic-goods{
    margin: 0 auto;
    text-align: center;
    padding: 80px 12px;
}
.classic-goods h3{
    color: var(--dred);
}
.design-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--red);
    font-style: italic;
    max-width: 1296px;
    margin: 0 auto;
    gap: 24px;
}
.design-card li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width:984px){
    .design-card{
        display: block;
        width:50%;
    }
}

@media(max-width:768px) {

}
@media(max-width:375px) {
    .classic-goods{
        padding: 40px 12px;
    }
    .classic-goods h3{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .classic-goods .design-card{
        gap: 24px;
    }
    
}
/* .design-goods */
.design-goods{
    margin: 0 auto;
    text-align: center; 
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
    background-position: center;
    background-size: cover;
}
.design-goods h3{
    color: var(--white);
}
.design-series{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 12px;
    max-width: 1296px;
}
.design-img{
    max-width: 648px;
}
.design-name{
    color: var(--red); 
    font-style: italic; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.design-name h4{
    background-color: var(--white); 
}
@media(max-width:768px) {
    .design-name{
        display: block;
        margin: 0 auto;
    }
}
@media(max-width:375px) {
    
}
/* .recommendation */
.recommendation{
    margin: 0 auto;
    padding: 80px 12px;
}
.recommendation h3{
    text-align: center;
    color: var(--dred);
}
.customer-recommendation{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1296px;
    flex-wrap: wrap;
}
.recommend-card{
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    width:22%;
}
.feedback{
    margin: 16px;
}
@media(max-width:768px) {
    .customer-recommendation{
        justify-content: center;
    }
    .recommend-card{
        width: 48%;
    }
}
@media(max-width:624px) {
    .recommend-card{
        width: 100%;
    }
}
@media(max-width:375px) {
    .recommend-card{
        width: 100%;
    }
}
/* .contact-us */
.contact-us{
    background-color: var(--pale);
    padding: 80px 12px;
}
.form{
    max-width: 636px;
    margin: 0 auto;
}
.contact-us h3{
    color: var(--dred);
    text-align: center;
}
label{
    display: inline-block;
}
input{
    background-color: transparent;
    border-color: var(--black);
    height: 36px;
    width:100%;
    text-indent: 12px;
}
.suggest{
    padding-bottom: 106px;
    height: 136px;
}
.agreement{
    height:fit-content;
    width:fit-content;
    margin-bottom: 48px;
}
.sent-btn{
    text-decoration: none;
    max-width:416px;
    padding: 16px 0px;
    background-color: var(--red);
    color: var(--white);
    display: block;
    text-align: center;
    margin: 0 auto;

}
@media(max-width:768px) {
    .contact-us{
        padding: 80px 96px;
    }
    .contact-us p{
        font-size: 16px;
    }

}
@media(max-width:624px) {
    .contact-us{
        padding: 80px 24px;
    }

}
@media(max-width:375px) {
    .contact-us{
        padding: 80px 12px;
    }

}