:root{
    --white:#FFFFFF;
    --pale:#FBF2F2;
    --black:#000000;
    --red:#AA0601;
    --dred:#650300;
}
.fz-l{
    font-size: 64px;
}
.fz-ml{
    font-size: 48px;
}
.fz-m{
    font-size: 36px;
}
.fz-s{
    font-size: 24px;
}
.fz-ss{
    font-size: 20px;
}
.fz-xs{
    font-size: 14px;
}
.fwn{
    font-weight: normal;
}
.fwb{
    font-weight: bold;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-72{
    margin-bottom: 72px;
}
