<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>門市據點</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../assets/SCSS/all.css">
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="wrapBranch">
        <div class="title mb-32">
            <div class="red-bar mr-16"></div>
            <h1 class="fz-ml fwb">門市據點</h1>
        </div>
        <div class="area">
            <h2 class="fz-s fwb mb-32">選擇地區</h2>
            <select name="city" id="city" class="ml-16">
                <option value="台北市">台北市</option>
                <option value="新北市">新北市</option>
                <option value="桃園市">桃園市</option>
                <option value="台中市">台中市</option>
                <option value="台南市">台南市</option>
                <option value="高雄市">高雄市</option>
                <option value="基隆市">基隆市</option>
                <option value="新竹市">新竹市</option>
                <option value="嘉義市">嘉義市</option>
                <option value="新竹縣">新竹縣</option>
                <option value="苗栗縣">苗栗縣</option>
                <option value="彰化縣">彰化縣</option>
                <option value="南投縣">南投縣</option>
                <option value="雲林縣">雲林縣</option>
                <option value="嘉義縣">嘉義縣</option>
                <option value="屏東縣">屏東縣</option>
                <option value="宜蘭縣">宜蘭縣</option>
                <option value="花蓮縣">花蓮縣</option>
                <option value="台東縣">台東縣</option>
                <option value="澎湖縣">澎湖縣</option>
                <option value="金門縣">金門縣</option>
                <option value="連江縣">連江縣</option>
            </select>            
        </div>
        <ul class="cards">
            <li class="card">
                <img src="../assets/image/store/store-1.png" alt="">
                <h3>台北中山旗艦店</h3>
                <div class="info">
                    
                    <p class="mb-8"><span class="material-symbols-outlined">
                        call
                        </span>電話：(02)000-1234</p>
                    <p class="mb-8"><span class="material-symbols-outlined">
                        schedule
                        </span>營業時間：10:00-21:00</p>
                    <p><span class="material-symbols-outlined">
                        location_on
                        </span>地址：台北市中山區南京東路25巷2-1號</p>
                    
                </div>
                <a href="#" class="fz-ss">詳細資訊</a>
            </li>
            <li class="card">
                <img src="../assets/image/store/store-2.png" alt="台北綠園店店面">
                <h3>台北綠園店</h3>
                <div class="info">
                    
                    <p class="mb-8"><span class="material-symbols-outlined">
                        call
                        </span>電話：(02)000-2345</p>
                    <p class="mb-8"><span class="material-symbols-outlined">
                        schedule
                        </span>營業時間：10:00-21:00</p>
                    <p><span class="material-symbols-outlined">
                        location_on
                        </span>地址：台北市中正區復興南路 132-1 號</p>
                    
                </div>
                <a href="#" class="fz-ss">詳細資訊</a>
            </li>
            <li class="card">
                <img src="../assets/image/store/store-3.png" alt="台中清水旗艦店店面">
                <h3>台中清水旗艦店</h3>
                <div class="info">
                    
                    <p class="mb-8"><span class="material-symbols-outlined">
                        call
                        </span>電話：(02)000-1234</p>
                    <p class="mb-8"><span class="material-symbols-outlined">
                        schedule
                        </span>營業時間：10:00-21:00</p>
                    <p><span class="material-symbols-outlined">
                        location_on
                        </span>地址：台中市清水區經南一路 23 號 8 樓</p>
                    
                </div>
                <a href="#" class="fz-ss">詳細資訊</a>
            </li>
            <li class="card">
                <img src="../assets/image/store/store-4.png" alt="高雄中正形象店店面">
                <h3>高雄中正形象店</h3>
                <div class="info">
                    
                    <p class="mb-8"><span class="material-symbols-outlined">
                        call
                        </span>電話：(07)000-2345</p>
                    <p class="mb-8"><span class="material-symbols-outlined">
                        schedule
                        </span>營業時間：10:00-21:00</p>
                    <p><span class="material-symbols-outlined">
                        location_on
                        </span>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                </div>
                <a href="#" class="fz-ss">詳細資訊</a>
            </li>
            <li class="card">
                <img src="../assets/image/store/store-5.png" alt="高雄夢時代店面">
                <h3>高雄夢時代店</h3>
                <div class="info">
                    <p class="mb-8"><span class="material-symbols-outlined">
                        call
                        </span>電話：(07)000-1234</p>
                    <p class="mb-8"><span class="material-symbols-outlined">
                        schedule
                        </span>營業時間：10:00-21:00</p>
                    <p><span class="material-symbols-outlined">
                        location_on
                        </span>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                    
                </div>
                <a href="#" class="fz-ss">詳細資訊</a>
            </li>
        </ul>
    </main>
    <%- include('./layout/footer'); -%>
</body>
</html>